@font-face {
	font-family: "Condor-Extralight";
	src: url("../../../../fonts/Condor_Extralight.woff2") format("woff2");
}
@font-face {
	font-family: "Condor-Light";
	src: url("../../../../fonts/Condor_Light.woff2") format("woff2");
}
@font-face {
	font-family: "Condor-Italic";
	src: url("../../../../fonts/Condor_Italic.woff2") format("woff2");
}
@font-face {
	font-family: "Condor-Regular";
	src: url("../../../../fonts/Condor_Regular.woff2") format("woff2");
}
@font-face {
	font-family: "Condor-Bold";
	src: url("../../../../fonts/Condor_Bold.woff2") format("woff2");
}
@font-face {
	font-family: "Condor-Black";
	src: url("../../../../fonts/Condor_Black.woff2") format("woff2");
} 
@font-face {
	font-family: "NeueMontreal-Regular";
	src: url("../../../../fonts/NeueMontreal-Regular.woff2") format("woff2");
}
@font-face {
	font-family: "NeueMontreal-Bold";
	src: url("../../../../fonts/NeueMontreal-Bold.woff2") format("woff2");
}